In [39]:
import numpy as np
import pandas as pd

In [40]:
#Регрессор рандом форест
from sklearn.ensemble import RandomForestRegressor
#Байесовская регрессия
from sklearn.linear_model import BayesianRidge
#Ридж регрессия
from sklearn.linear_model import Ridge

In [41]:
#Используется для записи модели в файл
from sklearn.externals import joblib
#Для визуализации
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
def get_correct_input(data):
    hour   = pd.get_dummies(pd.cut(data.hour,24,labels=False).astype(int), prefix = 'hour')
    minutes = pd.get_dummies(pd.cut(data.minutes,60,labels=False).astype(int), prefix = 'minute')
    distance2center1 = data["distance2center1"]
    distance2center2 = data["distance2center2"]
    
    return pd.concat([hour,minutes,distance2center1,distance2center2],axis=1)

In [43]:
data = pd.read_csv("train.csv")
data.head()

,Unnamed: 0,date,hour,minutes,length,porch,distance2center1,distance2center2,price
0,0,2017-02-28,21,40,0,1,0,0,150
1,1,2017-04-17,1,46,0,1,0,0,150
2,2,2017-04-19,11,27,2,0,0,2,165
3,3,2017-03-04,11,52,0,1,0,0,105
4,4,2017-03-21,15,41,2,0,0,1,155

In [44]:
rfr = RandomForestRegressor(n_estimators = 100)
brd = BayesianRidge()
rid = Ridge(alpha=.5)

In [45]:
input_data = get_correct_input(data)
expect_data = data["price"]

In [46]:
rfr.fit(input_data,expect_data)
brd.fit(input_data,expect_data)
rid.fit(input_data,expect_data)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [47]:
data_test = pd.read_csv("test.csv")
data_test.head()

,Unnamed: 0,date,hour,minutes,length,porch,distance2center1,distance2center2
0,0,2017-02-24,18,38,2,1,0,1
1,1,2017-02-15,9,37,5,1,5,0
2,2,2017-04-17,15,43,0,0,0,0
3,3,2017-04-05,14,37,4,1,3,0
4,4,2017-03-22,17,55,0,0,0,0

In [62]:
data_test_inputs = get_correct_input(data_test)
data_test.head()

,Unnamed: 0,date,hour,minutes,length,porch,distance2center1,distance2center2
0,0,2017-02-24,18,38,2,1,0,1
1,1,2017-02-15,9,37,5,1,5,0
2,2,2017-04-17,15,43,0,0,0,0
3,3,2017-04-05,14,37,4,1,3,0
4,4,2017-03-22,17,55,0,0,0,0

In [55]:
rfr.score(input_data,data["price"])

0.9655082500754211

In [56]:
brd.score(input_data,data["price"])

0.778807054902536

In [57]:
rid.score(input_data,data["price"])

0.7788756700589037

In [58]:
data_test_outputs_rfr = rfr.predict(data_test_inputs)

In [66]:
ans = data_test[["Unnamed: 0"]]
ans["price"] = data_test_outputs
ans.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Unnamed: 0       price
0           0  150.006071
1           1  328.550000
2           2  142.993526
3           3  227.491667
4           4  126.615398

In [69]:
ans.to_csv("michilresult.csv", columns=["price"], index=False,header = False)